@import 'tailwindcss';

html {
	font-size: 14px;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: var(--tg-theme-bg-color);
	color: var(--tg-theme-text-color);
}

.container {
	padding: 0.5rem 1rem 1.5rem;
}

.link_btn {
	width: 100%;
	display: inline-block;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: center;
	border-radius: 3rem;
}